html {
  --color-accent: oklch(82.65% 0.187 119.65);
  --border-color: oklch(50% 10% 200 / 40%);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

h1 {
  font-size: 400%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

img {
  max-width: 100%;
}

body {
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
  font: 100%/1.5 system-ui;
  max-width: 60em;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

nav {
  display: flex;
  display: contents;
  margin-bottom: 1em;

  a {
    text-decoration: none;
    color: inherit;
    flex: 1;
    padding: 0.5em;
    text-align: center;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
  }

}

.current {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

a:hover {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);

}

label {
  font: inherit;
  font-size: 80%;
  position: absolute;
  top: 1rem;
  right: 1rem;

}

form {
  font: inherit;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  label,
  button {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));

  article {
    display: grid;
    padding: 0.35em;
    grid-template-rows: subgrid;
    grid-row: span 3;

    h2 {
      margin: 0;
    }
  }
}

.cv {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  section {
    display: grid;
    padding: 0.5em;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  section:hover {
    background-color: oklch(from var(--color-accent) 95% 5% h)
  }
}